# Dependencies
node_modules/
PLAN.md
# Build output
dist/
dist-ssr/

# Tauri
src-tauri/target/
src-tauri/gen/

# Logs
*.log
npm-debug.log*

# Editor
.DS_Store
.vscode/
.idea/

# Env
.env
.env.local
.bench.env
